@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  padding: 40px;
  margin: 0;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  background: linear-gradient(45deg, #334257, #548CA8);
}

.container {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.container .login {
  display: flex;
  padding: 40px;
  min-width: 450px;
  max-width: 600px;
  width: 60%;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
  position: relative;
}
.container .login::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  inset: 0;
  transform: rotate(-5deg);
  background: #EEEEEE;
  opacity: 0.3;
  z-index: -1;
}
.container .login-header {
  width: calc(100% - 20px);
  display: flex;
  justify-content: center;
  align-content: end;
}
.container .login-header h1 {
  font-size: 2.5em;
  margin: 0;
  color: #456379;
}
.container .login-content {
  width: 100%;
  display: flex;
}
.container .login-content .login-form {
  display: flex;
  gap: 20px;
  width: 100%;
  padding: 20px 40px;
  flex-direction: column;
}
.container .login-content .login-form .form-item {
  display: flex;
  flex-direction: column;
  color: #456379;
  background-color: #EEEEEE;
}
.container .login-content .login-form .form-item:hover {
  color: #548CA8;
}
.container .login-content .login-form .form-item label:not(.checkbox-label) {
  display: inline-block;
  background-color: #EEEEEE;
  margin-bottom: 10px;
  position: absolute;
  padding: 0 10px;
  transform: translate(2em, -0.6em);
  font-size: 0.9em;
}
.container .login-content .login-form .form-item input[type=text],
.container .login-content .login-form .form-item input[type=password] {
  border: 1px solid #456379;
  height: 55px;
  padding: 0 2rem;
  width: 100%;
  outline: none;
  background-color: #EEEEEE;
  font-size: 18px;
  border-radius: 100px;
}
.container .login-content .login-form .form-item input[type=text]:-webkit-autofill,
.container .login-content .login-form .form-item input[type=password]:-webkit-autofill {
  -webkit-background-clip: text;
}
.container .login-content .login-form .form-item .checkbox {
  display: flex;
  align-items: center;
}
.container .login-content .login-form .form-item .checkbox-label {
  padding-left: 10px;
}
.container .login-content .login-form .form-item .checkbox-label:hover {
  cursor: pointer;
}
.container .login-content .login-form .form-item .checkbox input[type=checkbox] {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  accent-color: #456379;
  border-color: #456379;
}
.container .login-content .login-form .form-item .checkbox input[type=checkbox]:hover {
  accent-color: #548CA8;
  cursor: pointer;
}
.container .login-content .login-form button {
  border: none;
  background: #456379;
  color: #EEEEEE;
  padding: 1rem;
  border-radius: 100px;
  text-align: center;
  font-size: 1em;
  height: 55px;
  cursor: pointer;
}
.container .login-content .login-form button:hover {
  background: #548CA8;
}
.container .login-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 40px;
  gap: 15px;
}
.container .login-footer .line {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  color: #548CA8;
  /*  new lines  */
}
.container .login-footer .line:before {
  content: " ";
  display: block;
  height: 0.5px;
  width: 45%;
  position: absolute;
  top: 50%;
  left: 0;
  background: #548CA8;
}
.container .login-footer .line:after {
  content: " ";
  display: block;
  height: 0.5px;
  width: 45%;
  position: absolute;
  top: 50%;
  right: 0;
  background: #548CA8;
}
.container .login-footer .forgot-password {
  display: flex;
  justify-content: center;
}
.container .login-footer .forgot-password a {
  text-decoration: none;
  color: #456379;
  font-size: 0.9rem;
  font-weight: 300;
}
.container .login-footer .social-login {
  display: flex;
  width: 50%;
  min-width: 220px;
  height: 40px;
  justify-content: start;
  align-items: center;
  transition: 0.3s;
}
.container .login-footer .social-login a {
  text-decoration: none;
  padding-left: 15px;
  color: #456379;
  transition: ease 0.3s;
}
.container .login-footer .social-login .image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #456379;
  border-radius: 100px;
}
.container .login-footer .social-login .image img {
  padding: 6px;
  width: 34px;
  height: 34px;
}
.container .login-footer .social-login:hover {
  color: #548CA8;
}
.container .login-footer .social-login:hover .image {
  background-color: #548CA8;
}
